body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light grey background color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-container {
    background-color: #f0f0f0; /* Light grey background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    color:  #007BFF;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.text-label-wrapper {
    display: flex;
    align-items: center;
}

.text-label {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    margin-right: 10px;

}

input[type="text"], input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    color: #007bff;
    padding: 10px 10px;
    border-radius: 20px;
    border-color: #007bff;
    font-size: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 10px;
}
