<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Receipts Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard/receipts.css}">
</head>
<body>
    <div class="receipt-container">
        <ul class="receipt-list">
            <li>00-00-0000</li>
            <li>00:00</li>
            <li>00,0000.00</li>
            <li>Debit</li>
        </ul>
    </div>

    <div class="receipt-container">
        <ul class="receipt-list">
            <li>10-12-2020</li>
            <li>10:20</li>
            <li>70,0500.00</li>
            <li>Debit</li>
        </ul>
    </div>

    <div class="receipt-container">
        <ul class="receipt-list">
            <li>10-03-3070</li>
            <li>11:44</li>
            <li>90,0000.00</li>
            <li>Debit</li>
        </ul>
    </div>

    <div class="receipt-container">
        <ul class="receipt-list">
            <li>06-30-2005</li>
            <li>05:50</li>
            <li>6,6000.60</li>
            <li>CREDIT</li>
        </ul>
    </div>
</body>
</html>
