<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>dashboard page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard/dashboard.css}">

</head>
<body>

    <div class="vertical-navbar" id="vertical-nav">

        <div class="logo-text">
            Myfxtrade
        </div>

        <ul class="nav-links">
            <li><a th:href="@{/}">Dashboard</a></li>
            <li><a th:href="@{/}">User</a></li>
            <li><a th:href="@{/}">Login</a></li>
            <li><a th:href="@{/}">Receipts</a></li>
            <li><a th:href="@{/}">Deposit</a></li>
            <li><a th:href="@{/}">withdraws</a></li>
            <li><a th:href="@{/}">Charts</a></li>
            <li><a th:href="@{/}">Calender</a></li>
        </ul>
    </div>


</body>
</html>