<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ResetPassword Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/authentication/login.css}">

</head>
<body>
<div class="reset-container">

    <h2>Reset Your Password</h2>

    <form th:action="@{/auth/resetPassword}" method="post" th:object="${resetPasswordDto}">
        <label class="text-label-wrapper">
            <span class="text-label">Email: :</span>
            <span th:if="${error}" th:text="${error}" class="error-message"></span>
        </label>
        <input type="text" id="email" placeholder="email address" th:field="*{email}" required>

        <label for="password" class="text-label">New Password:</label>
        <input type="password" id="password" placeholder="password" th:field="*{password}" required>

        <label for="confirmPassword" class="text-label-wrapper">
            <span class="text-label">Confirm password:</span>
            <span th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></span>
        </label>
        <input type="password" id="confirmPassword" placeholder="Confirm password" th:field="*{confirmPassword}" required>

        <button type="submit">Submit</button>

    </form>

</div>
</body>
</html>